/* General Styles */
body {
  background-image: url("/img/background.avif");
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Game Container */
.gameContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(248, 233, 233);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title */
h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: x-large;
}

/* Scoreboard */
.scoreBoard {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.player p {
  font-size: 18px;
  margin: 0;
}

/* Dice Display */
.dice-display {
  margin: 20px auto;
}

.dice-display img {
  width: 100px;
  height: 100px;
}

/* Controls */
.controls {
  margin-top: 20px;
}

.controls button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#roll-dice {
  background-color: #4caf50;
  color: white;
}

#reset-game {
  background-color: #f44336;
  color: white;
}

.controls button:hover {
  opacity: 0.8;
}

/* Footer */
footer {
  margin-top: 30px;
}

/* Heading */
h1 {
  font-size: 3rem;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #252419; /* Golden color for elegance */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

/* Scoreboard */
